:root {
  --page-margin: 1rem;
  --page-width: 93rem;
  --page-width-with-margin: calc(var(--page-width) + calc(2 * var(--page-margin)));

  color-scheme: dark;
  font-family: 'Inter Variable', arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

