:root {
  --page-margin: 1rem;
  --page-width: 93rem;
  --page-width-with-margin: calc(var(--page-width) + calc(2 * var(--page-margin)));

  color-scheme: dark;
  font-family: 'Inter Variable', arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter Variable', arial, sans-serif; }
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--gray-200);
}

::selection {
  background-color: var(--blue-700);
  color: var(--gray-1000);
}

html {
  background-color: var(--background-200);
  color: var(--gray-1000);
  font-synthesis: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  scrollbar-color: var(--gray-alpha-500) transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

body {
  height: 100vh;
  margin: 0;
  line-height: inherit;
}

a:focus-visible,
button:focus-visible,
dialog:focus-visible,
div:focus-visible,
input:focus-visible,
pre:focus-visible {
  box-shadow: var(--focus-border);
  outline: none;
  isolation: isolate;
}

h1, p { margin: 0; }

pre {
  margin: 0;
  background: transparent !important;

  --shiki-foreground: var(--gray-500);
  --shiki-background: var(--background-100);
  --shiki-token-constant: var(--gray-1000);
  --shiki-token-string: var(--gray-700);
  --shiki-token-comment: var(--gray-700);
  --shiki-token-keyword: var(--gray-700);
  --shiki-token-parameter: var(--gray-700);
  --shiki-token-function: var(--gray-700);
  --shiki-token-string-expression: var(--gray-1000);
  --shiki-token-punctuation: var(--gray-700);
  --shiki-token-link: var(--gray-700);
}

ul { margin: 0; padding: 0; }
li { list-style: none; }

/** Reset **/

button,
input {
  font-family: inherit; 
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  text-transform: none;
}

button[type='submit'] {
  -webkit-appearance: button;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

input::placeholder {
  opacity: 1;
  color: var(--gray-700);
}

:disabled {
  cursor: default;
}

img,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/** Utilities **/

.absolute { position: absolute; }
.border { border-width: 1px; }
.border-t { border-top-width: 1px; }
.border-t-0 { border-top-width: 0; }
.cursor-pointer { cursor: pointer; }
.display-block { display: block; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-mono { font-family: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace; }
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.gap-0\.5 { gap: 0.125rem; }
.gap-1 { gap: 0.25rem; }
.gap-1\.5 { gap: 0.375rem; }
.gap-2 { gap: 0.5rem; }
.gap-2\.5 { gap: 0.625rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-6 { gap: 1.5rem; }
.grid { display: grid; }
.grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.h-full { height: 100%; }
.h-10 { height: 2.5rem; }
.inline-block { display: inline-block; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.leading-4 { line-height: 1rem; }
.leading-snug { line-height: 1.375; }
.max-w-full { max-width: 100%; }
.min-w-36 { min-width: 9rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.mx-4 { margin-left: 1rem; margin-right: 1rem; }
.mt-1 { margin-top: 0.25rem; }
.mt-1\.5 { margin-top: 0.375rem; }
.object-cover { object-fit: cover; }
.overflow-hidden { overflow: hidden; }
.order-0 { order: 0; }
.order-1 { order: 1; }
.p-1 { padding: 0.25rem; }
.p-1\.5 { padding: 0.375rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.pb-0 { padding-bottom: 0; }
.pb-6 { padding-bottom: 1.5rem; }
.pb-4 { padding-bottom: 1rem; }
.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-1\.5 { padding-left: 0.375rem; padding-right: 0.375rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.px-6 { padding-left: 1.5rem; padding-right: 1.5rem; }
.py-0\.5 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-1\.5 { padding-top: 0.375rem; padding-bottom: 0.375rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-2\.5 { padding-top: 0.625rem; padding-bottom: 0.625rem; }
.py-3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pr-6 { padding-right: 1.5rem; }
.pl-6 { padding-left: 1.5rem; }
.pb-6 { padding-bottom: 1.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-6 { padding-top: 1.5rem; }
.p-6 { padding: 1.5rem; }
.p-8 { padding: 2rem; }
.relative { position: relative; }
.rounded-full { border-radius: 9999px; }
.rounded-bl-md { border-bottom-left-radius: 0.375rem; }
.rounded-br-md { border-bottom-right-radius: 0.375rem; }
.rounded-lg { border-radius: 0.5rem; }
.rounded-xl { border-radius: 0.75rem; }
.rounded-md { border-radius: 0.375rem; }
.rounded-b-md { border-bottom-left-radius: 0.375rem; border-bottom-right-radius: 0.375rem; }
.rounded-t-md { border-top-left-radius: 0.375rem; border-top-right-radius: 0.375rem; } 
.rounded-sm { border-radius: 0.25rem; }
.rounded-r-sm { border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }
.rounded-l-sm { border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.rounded-l-md { border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem; }
.rounded-r-md { border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem; }
.rounded-t-lg { border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; }
.text-center { text-align: center; }
.text-ellipsis { text-overflow: ellipsis; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-base { font-size: 1rem; }
.text-sm { font-size: 0.875rem; }
.text-xs { font-size: 0.75rem; }
.uppercase { text-transform: uppercase; }
.w-min { width: min-content; }
.w-fit { width: fit-content; }
.w-full { width: 100%; }
.whitespace-nowrap { white-space: nowrap; }

.bg-transparent { background-color: transparent !important; }

.scrollbars {
  overflow: auto;
  scrollbar-color: var(--gray-alpha-500) transparent;
  scrollbar-width: thin;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.divide-y > *:not(template) + *:not(template) {
  border-top-width: 1px;
  border-bottom-width: 0px;
}
.divide-x > *:not(template) + *:not(template) {
  border-right-width: 0;
  border-left-width: 1px;
}
.space-y-4 > *:not(template) + *:not(template) {
  margin-top: 1rem
}

.hover\:bg-gray-100 {
  &:hover { background-color: var(--gray-100) !important; }
}
.hover\:bg-red-300 {
  &:hover { background-color: var(--red-300) !important; }
}

.h-timeline { height: 533px }
.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; /* 0.3rem when scrollbar sits in page */
}

.min-h-img { min-height: 269px; }

@media screen and (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:pb-0 {
    padding-bottom: 0;
  }
  .md\:pr-0 {
    padding-right: 0;
  }
  .md\:pb-6 {
    padding-bottom: 1.5rem;
  }
  .md\:pr-6 { padding-right: 1.5rem; }
  .md\:pl-6 { padding-left: 1.5rem; }
  .md\:order-0 {
    order: 0;
  }
  .md\:order-1 {
    order: 1;
  }
  .md\:h-full {
    height: 100%;
  }
  .md\:gap-6 {
    gap: 1.5rem;
  }
  .md\:pt-6 {
    padding-top: 1.5rem;
  }
  .md\:py-6 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .md\:max-w-sidebar { max-width: 300px; }
  .md\:min-w-sidebar { min-width: 300px; }
  .md\:absolute { position: absolute; }
  .md\:inset-y-0 { top: 0; bottom: 0; }

  .md\:grid { display: grid; }
  .md\:container {
    grid-template-areas: "a b";
    grid-template-columns: auto 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem; /* 0.8rem when scrollbar sits in page */
    padding-left: 1.5rem;
  }
  .md\:max-w-1\/2 { max-width: 57%; }
  .md\:max-w-\[57\%\] { max-width: 57%; }
}
@media screen and (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:w-frame {
    width: 533.08px;
  }
  .lg\:max-w-sidebar {
    max-width: 350px;
  }
  .lg\:min-w-sidebar {
    min-width: 350px;
  }
  .lg\:divide-x > *:not(template) + *:not(template) {
    border-right-width: 0;
    border-left-width: 1px;
  }
  .lg\:divide-y-0 > *:not(template) + *:not(template)  {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  .lg\:min-h-frame { min-height: 411px; }
  .lg\:w-1\/2 { width: 50%; }
}

.dark { fill: white; }
.light { fill: black; }
@media (prefers-color-scheme: light) {
  .dark { fill: black; }
  .light { fill: white; }
}

